{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Skill Information{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}
        {{ form.name(size=20) }}
    </p>
    {% if form.name.errors %}
      <ul class="errors">
          {% for error in form.name.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
    {% endif %}
      <p>
        {{ form.level.label }}
        {{ form.level(size=20) }}
    </p>
    {% if form.level.errors %}
      <ul class="errors">
          {% for error in form.level.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <input type="submit" value="Save">
  </form>
{% endblock %}