{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ skill['name'] }}" skills{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    <p hidden>{{form.name(value=skill['name'])}}</p>
    <p>
        {{ form.level.label }}
        {{ form.level(size=20) }}
    </p>
    {% if form.level.errors %}
      <ul class="errors">
          {% for error in form.level.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('skills.delete', id=skill['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}