{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ g.user['username'] }} skills{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Skill name</label>
    <input name="name" id="name"
           value="{{ request.form['name'] or skill['name']}}" required>
    <label for="level">Skill level</label>
    <input name="level" id="level"
           value="{{ request.form['level'] or skill['level']}}" required>
  </form>
  <hr>
  <form action="{{ url_for('skills.delete', id=skill['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}